[submodule "vim-web-indent"]
	path = bundle/vim-web-indent
	url = https://github.com/lukaszb/vim-web-indent.git
[submodule "command-t"]
	path = bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
